section.section.navbar 
    h2.logo 
        a(href="/") LibraryManagement 
        span.logo &#10070;

    nav.nav  
        a.nav-item(href="/books") Books
        a.nav-item(href="/books/create") Add   
        a.nav-item(href="/modules") Modules   