extends layout.pug 

block content 
    section.section.page
        h2 Glad to see you here:)
        p.home Library management 
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        a.buttonHome(href="/books") Explore the books  
        