extends layout.pug 

block content 
    section.section.page

        ul.list
            li.list-item 
                a(href="/modules") Science Fiction
            li.list-item 
                a(href="/modules") Romance

            li.list-item
                a(href="/modules") Detective
            li.list-item
                a(href="/modules") Comedy
            li.list-item
                a(href="/modules") Fiction
            li.list-item
                a(href="/modules") Historical
                  